.resultats_annonces table
{
	line-height:100%;
	border:0;
}
.resultats_annonces th
{
	padding-right:30px;
	text-align: left;
}
.resultats_annonces td
{
	border-bottom:0px solid #333333;
	border-left:0 none;
	border-right:0 none;
	padding-bottom:20px;
	padding-right:20px;
	padding-top:10px;
	vertical-align: top;
}
.resultats_annonces
{
	margin-top:20px;
}
.resultats_annonces thead
{
	text-transform:uppercase;
}
.annonce-ligne
{
	height:160px;
}
.annonce-date
{	
	text-align:center;
	color:#999;
}
.annonce-titre
{
	
	font-weight:bold;
	float:left;
	text-transform:uppercase;
	font-size:120%;
	width:208px;
	
}
.annonce-titre2
{
	font-weight:bold;
	float:left;
	text-transform:uppercase;
	font-size:140%;
	text-decoration:underline;
	clear:both;
}
.annonce-titre a 
{
	color:#000;
	text-decoration:none;
}
.annonce-price-list
{
	font-weight:bold;
	float:right;
	font-size:150%;
}
.adresse-show-bulle
{
	text-align:left;
}
.annonce-price-show
{
	font-weight:bold;
	padding-bottom:10px;
	float:right;
	font-size:170%;
}
.annonce-surface 
{
	color:#3399CC;
	padding-bottom:5px;
	padding-top:5px;
	clear:both;
}
.annonce-description
{
	text-decoration:underline;
	font-weight:bold;
}
.annonce-texte
{
	margin-top: 3px;
}
.annonce-images img
{
	padding:3px;
}
.annonce-container
{
	width:100%;
	line-height:120%;
}
.annonce-images 
{
	display:inline;
}
.annonce-img img
{
	border:3px solid #434343;
	margin-right:10px;	
}
.annonce-photos 
{
	width: 140px;
	height: 132px;
	margin-top: 3px;
}
.annonce-photos img
{
	border:3px solid #434343;
	line-height:200%;
}
.infocomp
{
	margin-bottom:10px;
	margin-top:25px;
}
.infocomp fieldset
{
	border-color:#333;
}
.infocomp legend
{
	margin-left:10px;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}
.published-date
{
	color:#999;
}
.infoscomp-titre 
{
	text-transform:uppercase;
	font-weight:bold;
}
.infos
{
	padding:10px;
}
.retour
{
	padding-bottom:0px;
}
.fond-annonce
{
	/*width:2000px;*/
	/*height:2000px;*/
	background:#fff;
	color:#000;
}
.pagination_desc strong
{
  color: #176f94;
}
.pagination_desc
{
  margin-left: 15px;
  margin-top: 20px;
  font-style: italic;
  color: #828f95;
}
.pagination_desc strong
{
  color: #176f94;
}

.sidebar_search
{
	font-size:12px;
	margin-top:20px;
}
.budget
{
	clear:both;
	float:left;
	margin-right:20px;
	height:50px;
	width:267px;
}
.budget label
{
	display:inline;
}
.budget img
{
	display:inline;
}
 
.budget input
{
	margin-bottom:7px;
	display:inline;
	width:18%;
}
.superficie
{
	float:left;
	height:50px;
	width:267px;
}
.superficie label
{
	display:inline;
}
.superficie input
{
	margin-bottom:7px;
	display:inline;
	width:18%;
}
.sidebar_search input
{
	margin-bottom:7px;
	display:inline;
	margin-left:3px;
	margin-right:5px;
}
#map
{
	border:3px solid #434343;
}
.carte-annonce
{
	float:right;
	margin-right:25%;
}
.carte-annonce-text
{
	display:inline;
	font-size:130%;
	font-weight:bold;
	line-height:140%;
}
.carte-seule-texte
{
	width:165px;
	height:26px;
	margin-right:-50%;
	display:inline;
	float:right;
}
.carte-seule-image
{
	background:url(../../medias/images/carte_seule.jpg) no-repeat;
	margin-right:-100%;
	float:right;
	width:100px;
}	
.annonces-img
{
	background:url(../../medias/images/liste_annonces.jpg) no-repeat;
	width:40px;
	height:26px;
	margin-left:10px;
	display:inline;
	float:right;
}
.empty-annonces
{
	clear:both;
	margin-bottom:20px;
	padding-top:20px;
}
.filtre
{
	clear:both;
}		
.filtre label
{
	display:inline;
}
#annonceGmap
{
	width: 100%;
}

/*-----Fichier : frontend.class.php-----*/
.annonces_listing 
{
	margin-top:80px;
}
.rechercheindispo 
{
	font-size:140%;
}

.markersgoogle 
{
	text-align:left;
	color:black;
	cursor:pointer;
}
.markersgoogle2 
{
	color:black;
	cursor:pointer;
}
.amarkers 
{
	float: right;
}
.GMAP1 
{
	width: 550px;
	height: 300px;
}
.GMAP2 
{
	width: 550px;
	height: 800px;
}
.GMAP3
{
	width: 512px;
	height: 400px;
}
.GMAP4
{
	height: 400px;
}
.navigation_form
{
	margin-bottom:35px;
}
.filtre img
{
	margin-right:4px;
	vertical-align:middle;
	cursor:pointer;
	width:43px !important;
	height:43px !important;
}
.filtre label 
{
	cursor:pointer;
}
.budget img, .superficie img 
{
	float:left;
	margin-right:2px;
	width:44px !important;
	height:44px !important;
}
.inputrecherche 
{
	border-width:0px;
	float:right;
	margin-top:20px;
	width:168px;
	height:47px;
	cursor:pointer;
}
.GAreference 
{
	float:right;
	font-size:120%;
	margin-top:-29px;
}
.GAimg 
{
	width: 140px;
	height: 132px;
}
.annonce-cont 
{
	vertical-align: text-top;
	padding: 6px 0px !important;
}

/*-----Fin Fichier : frontend.class.php-----*/

/*-----Fichier : admin_attributs.class.php-----*/
.attribut_annonce_content
{
	cursor:pointer;
}
/*-----Fin du fichier : admin_attributs.class.php-----*/

.paginationtoolsclass
{
	display:table;
	width:100%;
	margin:3px 0 0 0;
	padding:3 0 3px 0;
}
.paginationspan1
{
	display:table;
	cursor:pointer;
	float:left;
	padding:1px 6px;
	margin:0 3px;
}
.paginationspan2
{
	display:table;
	float:left;
	padding:1px;
	margin:0 3px;
}
.paginationspan3
{
	display:table;
	float:left;
	padding:1px 6px;
	margin:0 3px;
}
.bodyimagegalery
{
	margin:0px;
	font-size:11px;
	padding:0;
}

#btn_galerie
{
	clear:both;
}

.tableimagegalery
{
	border-collapse:collapse;
}

.imagegaleryoutput
{
	border:0px solid red;
}

.inputgaleryoutput
{
	border:0px solid red;
	color:red;
	font-size:11px;
	background-color:#FFFFFF;
}
.echec_option {
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
	color:#FFF;
}
.erreur_attribut
{
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
	color:white;
}
.lien_contact
{
	text-align:center;
}
.lien_contact label
{
	font-size:15px;
	font-weight:bold;
}
.contact_error
{
	color: red;
	text-align:center;
	font-weight:bold;
}
.contact_success
{
	color: green;
	text-align:center;
	font-weight:bold;
	font-size:13px;
}
.lst_annonce
{
	color:red;
	margin-right:-170px;
}